[submodule "packages/shared"]
	path = packages/shared
	url = https://github.com/carlnoeao/shared.git
[submodule "packages/mfeTest"]
	path = packages/mfeTest
	url = https://github.com/carlnoeao/mfeTest.git
